/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body {
    background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 50vw;
    height: 60vh;
    overflow: hidden;
}

.middle {
    margin: 100px auto;
}

.navigation {    
    position: relative;
    bottom: 35px;
    left: 65%;
    display: flex;
}

.label_inner {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: 0.3;
    border-radius: 10px;
    transition: .4s ease;
}

.label_inner:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.label_inner:focus {
    opacity: 1;
}

input[name=r] {
    display: none;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    height: 90%;
    transition: all .5s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav-container {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.nav-cotainer_text {
    width: 500%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.nav-text {
    margin-top: 10px;
    font-size: 25px;
}

#r1:checked ~ .s1 {
    margin-left: 0%;
}
#r2:checked ~ .s1 {
    margin-left: -20%;
}
#r3:checked ~ .s1 {
    margin-left: -40%;
}
#r4:checked ~ .s1 {
    margin-left: -60%;
}
#r5:checked ~ .s1 {
    margin-left: -80%;
}

@media (max-width:1164px) {
    .navigation {
        left: 55%;
    }
}
@media (max-width:902px) {
    .navigation {
        left: 45%;
    }
}
@media (max-width:740px) {
    .navigation {
        left: 15%;
        bottom: 40px;
    }
    .nav-text {
        margin-top: 20px;
        text-align: center;
    }
}
@media (max-width:500px) {
    .navigation {
        left: 10%;
    }
}
@media (max-width:450px) {
    .navigation {
        left: 0;
        margin-top: 7px;
    }
    .slides {
        height: 75%;
    }
}

@media (max-width:350px) {
    .slider {
        width: 75vw;
        height: 55vh;
        overflow: hidden;
    }
    .navigation {
        left: 10%;
    }
    .label_inner {
        width: 20px;
    }
}